data-raw/**/*.shp filter=lfs diff=lfs merge=lfs -text
data-raw/own-conversion-matrices/* filter=lfs diff=lfs merge=lfs -text
data-raw/**/*.rda filter=lfs diff=lfs merge=lfs -text
**/*.rda filter=lfs diff=lfs merge=lfs -text
